body{
  background-color:  rgba(249, 252, 251, 0.88);
  font-family: 'Lato', sans-serif;
 }
 head{
   font-family:  'Lato', sans-serif;
 }
 
 nav{
   padding-left: 200px;
   padding-right: 100px;
 }
 
 .nav-link{
   font-weight: bold;  
   font-size: 22px;
 }
 
 .kotak-kuning{
   height: 725px;
   width: 100%;
   background: #FFE268;
 }
 
 .ezway{
   position: absolute;
   width: 242px;
   height: 288px;
   left: 220px;
   top: 122px;
 
   font-family: Lato;
   font-style: normal;
   font-weight: bold;
   font-size: 120px;
   line-height: 144px; 
 }
 
 .deskripsi{
   position: absolute;
   width: 430px;
   height: 58px;
   left: 220px;
   top: 454px;
 
   font-family: Lato;
   font-style: normal;
   font-weight: 500;
   font-size: 24px;
   line-height: 29px;
 }
 
 .buat{
   position: absolute;
 width: 469px;
 height: 60px;
 left: 220px;
 top: 611px;
 
   text-align: center;
   padding-top: 8px;
   font-family: Lato;
   font-style: normal;
   font-weight: 600;
   font-size: 28px;
   line-height: 34px;
   
   background: #F9FCFB;
 }
 
 .cari{
   position: absolute;
   width: 220px;
   height: 60px;
   left: 421px;
   top: 611px;
   text-align: center;
   padding-top: 8px;
 
   font-family: Lato;
   font-style: normal;
   font-weight: 600;
   font-size: 28px;
   line-height: 34px;
 
   background: #FFE268;
   border: 1px solid #000000;
   box-sizing: border-box;
 }
 
 .kotak-kuning img{
   position: absolute;
   width: 556px;
   height: 500px;
   left: 1150px;
   top: 175px;
 }
 
 body img{
  position: absolute;
   width: 458px;
   height: 117px;
   left: 700px;
   top: 850px;
 }
 
 .kenapa{
   position: absolute;
   width: 242px;
   height: 38px;
   left: 820px;
   top: 775px;
 
   font-family: Lato;
   font-style: normal;
   font-weight: bold;
   font-size: 32px;
   line-height: 38px;
 }